<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>User info</h2>
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
        <table class='table'>
          <tr></tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
       </table>
      <div class="row">
      <% if @user.id == current_user.id %>
          <p><%= link_to "", edit_user_path(@user), class: "btn btn-info btn-block glyphicon glyphicon-wrench" %></p>
      <% end %>
      </div>
      <div class="row">
      <h2>New Book</h2>
      <%= form_for(@book, url: {controller: 'books', action: 'create' }) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="form-group has-icon">
            <label class="control-label sr-only">Title</label>
            <%= f.text_field :title, autofocus: true, class:"form-control" %>
            <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
        </div>
        <div class="form-group has-icon">
          <label class="control-label sr-only">Opinion</label>
          <%= f.text_area :body, autofocus: true, class:"form-control" %>
        </div>
        <%= f.submit "Create Book", class:"btn btn-lg btn-block btn-base-1 mt-20 btn-primary" %>
      <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <h2>Book detail</h2>
    <table class='table'>
      <tr>
          <td><%= link_to user_path(@book1.user.id) do %>
                <%= attachment_image_tag @book1.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %><br>
                <%= @book1.user.name %>
              <% end %>
          </td>
        <td><%= @book1.title %></td>
        <td><%= @book1.body %></td>
          <% if @book1.user_id == current_user.id %>
            <td><%= link_to "Edit", edit_book_path(@book1), class: "btn btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book1), method: :delete, class: "btn btn-danger" %></td>
          <% end %>
      </tr>
    </table>
    </div>
  </div>
</div>
